.form__link {
    text-decoration: none;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    transition: opacity 1s ease-in-out;
}

.form__link:hover {
    opacity: 0.6;
    cursor: pointer;
  }